.profile__about {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  width: 282px;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 880px) {
  .profile__about {
    width: 336px;
    margin: 8px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }
}

