.profile__marker {
  position: absolute;
  opacity: 0;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-image: url(../../../images/Vector0123.svg);
  background-position: center;
}

.profile__marker:hover {
  opacity: 1;
  transition: .3s;
}


