.card__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Vector-like.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}

.card__like:hover {
  opacity: .8;
  transition: .3s;
}


